%h1 #{@job.title}
%h3 #{@job.location}
%p #{@job.description}
%p #{@job.contact}
%h2 #{@job.company_name}
%p #{@job.url}
%p #{@job.email}

= simple_form_for @job, :url => published_job_path(@job) do |f|
  = f.submit 'Paso 3: publicar oferta'
