<!DOCTYPE html>
<html>
<head>
  <title>Empleosti</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <h1>EmpleosTI</h1>
  <span><%= flash[:notice] %></span>
  <span><%= flash[:alert] %></span>
    
<%= yield %>

</body>
</html>
